@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
 }
 
 html {
	font-family: 'Pretendard-Regular';
 }
 
 body {
	margin: 0px;
	height: 3000px;
 }
 
 header {
	position: fixed;
	height: 120px;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: white;
	z-index: 2;
 
 }
 
 .header-div {
	background: white;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	width: 90%;
	z-index: 2;
 }
 
 .header-div-left {
	background: white;
	float: left;
	height: 120px;
	width: 20%;
	z-index: 3;
 }
 
 .header-logo {
	height: auto;
	width: auto;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: black;
 }
 
 .header-logo-a {
	color: black;
	text-decoration: none;
 }
 
 .header-div-right {
	background: white;
	float: right;
	height: 120px;
	width: 77%;
	z-index: 3;
	padding-right: 3%;
 }
 
 .header-div-top {
	background: white;
	float: right;
	height: 55px;
	width: 100%;
	z-index: 4;
 }
 
 .header-div-lower {
	background: white;
	float: right;
	height: 65px;
	width: 100%;
	z-index: 4;
 }
 
 footer {
	height: 260px;
	width: 100%;
 }
 
 .main-section {
	height: auto;
	width: 100%;
 }
 
 .header-a-tag-none {
	float: right;
	padding-top: 2%;
	padding-left: 0.725%;
	padding-right: 0.725%;
	text-decoration: none;
	color: black;
 }
 
 .header-a-tag-none-lower {
	float: left;
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
 }
 
 .header-a-tag-none-logo {
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
 }
 
 .main-section-slider-div {}
 
 .search-bar-div {
	background: #a96ae4;
	height: 120px;
	width: 100%;
 }
 
 .recommend-div {
	background: #edd9ff;
	height: 750px;
	width: 100%;
 }
 
 
 /* page */
 .title-area {
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding-top: 140px;
	padding-bottom: 80px;
	height: 200px;
	width: 85%;
	background-color: white;
 }
 
 .content-area {
	margin-left: 7.5%;
	margin-right: 7.5%;
}

.inner {}

.input-text {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
	height: 40px;
	width: 96%;
	border-style: solid;
	border-width: 0px;
	border-color: #759ef7;
}

.search-filter {
	margin-top: 6%;
	margin-left: 8%;
	margin-right: 8%;
	height: 250px;
	width: 84%;
}

.search-fileter-child {
	margin: 0%;
	padding: 0%;
	border-style: solid;
	border-color: #bdbdbd;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left: 0px;
	float: left;
	height: 100%;
	width: 24.8%;
}

.search-fileter-child-title {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 10%;
	padding-right: 10%;
	height: 20px;
	width: 80%;
}

.search-filter>.search-fileter-child:first-child {
	border-style: solid;
	border-color: #bdbdbd;
	border-left-width: 1px;
}

.search-fileter-child-title>span {
	font-weight: bold;
	font-size: 18px;
}

.search-fileter-child-item-list {
	padding-bottom: 30px;
	padding-left: 10%;
	padding-right: 2.5%;
	width: 87.5%;
	height: 150px;
}

.search-fileter-checkbox {
	overflow-y:scroll;
	float: left;
	height: 150px;
	width: 95%;
}

.search-fileter-checkbox>:first-child {
	margin: 0px;
}

.search-fileter-checkbox-item{
	margin-top: 5px;
}

.search-fileter-checkbox-item>input {
	margin: 0px;
	height: 23px;
	width: 23px;
}

.search-fileter-checkbox-item>label {
	position: relative;
	top: -5px;
	margin-left: 5px;
}

.public-list {
	width: 100%;
	height: 20px;
 }
 
 .public-ol {
	list-style: none;
 }
 
 .public-li {
	float: left
 }
 
 .public-title {
	margin-top: 50px;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
 }
 
 .public-title-sub {
	padding-top: 25px;
	text-align: center;
 
 }
 
 .main-gird-ul {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 7.5%;
	height: 87%;
	width: auto;
 }
 
 .main-gird-li {
 
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 1.3%;
	margin-right: 1.3%;
	padding-top: 3%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	float: left;
	background: #796565;
	width: 27%;
	height: 180px;
 
 }
 
 .grid-sub-blue {
	padding-left: 10px;
	padding-right: 10px;
	color: rgb(29, 146, 255);
	font-size: 20px;
 }
 
 .grid-title {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	padding-top: 7px;
	font-size: 35px;
 }
 
 .grid-sub-text {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	font-size: 16px;
 }
 
 .main-grid-a {}
 
 .public-hr {
	margin-left: 7.5%;
	margin-right: 7.5%;
	border: 0px;
	height: 2px;
	background: black;
 }
 
 .login-form-div {
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding-top: 80px;
	padding-bottom: 100px;
 }
 
 .login-form {}
 
 .login-input {
	width: 34%;
	height: 60px;
	margin-left: 32.5%;
	margin-right: 32.5%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
 }
 
 .login-submit {
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 10px;
	width: 35.6%;
	height: 60px;
	font-weight: bold;
	color: white;
	background: #759ef7;
	outline: none;
	border: none;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
 }
 
 .login-join {
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	width: 35.3%;
	height: 60px;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
 }
 
 .login-join>a {
	height: 100%;
	width: 100%;
	color: #759ef7;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
 }
 
 input::placeholder {
	font-weight: bold;
 }
 
 /* join */
 
 .join-div {
	float: left;
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	width: 34%;
 }
 
 .join-input {
	width: 34%;
	height: 60px;
	margin-left: 32.5%;
	margin-right: 32.5%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
 }
 
 .join-input ::placeholder{
	font-weight: normal;
	font-size: 20px;
 }
 
 .join-input{
	color: gray;
	font-weight: bold;
	font-size: 20px;
 }
 
 .join-submit {
	margin-left: 32.5%;
	margin-right: 32.5%;
	width: 35.6%;
	height: 60px;
	font-weight: bold;
	color: white;
	background: #759ef7;
	outline: none;
	border: none;
	font-size: 16px;
 }
 
 .login-form > hr {
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	width: 35.6%;
 }
 
 .join-check-all{
	width: 34%;
	height: auto;
	margin-left: 32.5%;
	margin-right: 32.5%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
 }
 
 .join-check-all > b{
	padding-left: 10px;
	font-size: 20px;
 }
 
 .join-check-all > p{
	margin-top: 5px;
	padding-left: 30px;
 }
 
 .join-check-area{
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 35.3%;
	height: auto;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
 }
 
 .join-check-list{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
 }
 
 .join-check-list b{
	padding-left: 10px;
 }
 
 .join-check-list.sub{
	padding-left: 40px;
 }
 
 /* company */
 
 .title-area-company-bgimg {
	position: relative;
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 180px;
	padding-bottom: 40px;
	float: left;
	height: 300px;
	width: 85%;
	background-color: rgb(97, 97, 97);
	z-index: 0;
 
 }
 
 .title-area-company {
	position: absolute;
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding-top: 180px;
	padding-bottom: 40px;
	float: left;
	height: 300px;
	width: 85%;
	z-index: 1;
 }
 
 .company-logo {
	float: left;
	height: 250px;
	width: 250px;
	padding: 25px;
	margin-right: 60px;
	background: white;
	line-height: 250px;
	/* vertical-align이랑 같이 세로중앙정렬 */
 }
 
 .company-logo-img {
	height: auto;
	width: 100%;
	vertical-align: middle;
	/* line-height이랑 같이 세로중앙정렬 */
 }
 
 .company-info {
	float: left;
	width: 73%;
	height: 300px;
 }
 
 .company-sub {
	color: aliceblue;
	margin-top: 35px;
	margin-bottom: 5px;
 }
 
 .company-title {
	margin-top: 20px;
	margin-bottom: 0px;
	/* 만약 즐겨찾기 or 사이트 주소 불러오기 실패시 제외 */
	font-size: 62px;
	color: aliceblue;
 }
 
 
 .company-sub-title-Y {
	padding-right: 20px;
	float: left;
	font-weight: none;
	color: yellow;
 
 }
 
 .company-sub-title-W {
	padding-right: 20px;
	float: left;
	font-weight: none;
	color: aliceblue;
 }
 
 
 /* FAQ */
 
 .faq-search-bar {
	padding-top: 40px;
	padding-bottom: 40px;
	height: 60px;
	width: 100%;
 }
 
 .bg-gray {
	background: rgb(222, 222, 222);
 }
 
 .faq-search-bar .faq-search-wrap {
	margin: auto;
	width: 80%;
	height: 60px;
 }
 
 .grid-area {
	position: relative;
	height: 100%;
	width: 100%;
 }
 
 .colum {
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}

.col25 {
	width: 25%;
	height: 100%;
}

.col70 {
	width: 70%;
	height: 100%;
}