@font-face {
	font-family: 'Pretendard-Regular';
	src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

html {
	font-family: Helvetica,Tahoma;
}

body {
	font-size: 2vmin;
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	height: 120px;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background: white;
	z-index: 2;

}

.header-div {
	background: white;
	margin-left: 5%;
	margin-right: 5%;
	height: 100%;
	width: 90%;
	z-index: 2;
}

.header-div-left {
	background: white;
	float: left;
	height: 120px;
	width: 20%;
	z-index: 3;
}

.header-logo {
	height: auto;
	width: auto;
	font-size: 3rem;
	font-weight: bold;
	text-align: center;
	color: black;
}

.header-logo-a {
	color: black;
	text-decoration: none;
}

.header-div-right {
	background: white;
	float: right;
	height: 120px;
	width: 77%;
	z-index: 3;
	padding-right: 3%;
}

.header-div-top {
	background: white;
	float: right;
	height: 55px;
	width: 100%;
	z-index: 4;
}

.header-div-lower {
	background: white;
	float: right;
	height: 65px;
	width: 100%;
	z-index: 4;
}

footer {
	height: 260px;
	width: 100%;
}

.main-section {
	height: auto;
	width: 100%;
	overflow: hidden
}

.bg-f6 {
	background: #f6f6f6;
	padding: 2vmin;
	overflow: hidden;
}

.bg-ff {
	background: #ffffff;
	padding: 2vmin;
	overflow: hidden;
}

.header-a-tag-none {
	float: right;
	padding-top: 2%;
	padding-left: 0.725%;
	padding-right: 0.725%;
	text-decoration: none;
	color: black;
}

.header-a-tag-none-lower {
	float: left;
	font-size: 3vmin;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;

}

.header-a-tag-none-lower:nth-child(-n+4) {
	float: left;
	font-size: 3vmin;
	font-weight: bold;
	text-decoration: none;
	color: #759ef7;
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
}

.header-a-tag-none-logo {
	font-size: 3vmin;
	font-weight: bold;
	text-decoration: none;
	color: black;
	padding-top: 2%;
	padding-left: 3%;
	padding-right: 3%;
}

.home-img {
	margin-top: 16px;
	margin-right: 10px;
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 1px solid #fff;
	border-radius: 100%;
	background: url(../source/index.png) no-repeat;
	background-position: 50% 50%;
}

.main-section-slider-div {}

.search-area {}

.search-bar-div {
	padding-top: 30px;
	padding-bottom: 30px;
	background: #759ef7;
	height: 60px;
	width: 100%;

}

.search-frame {
	margin-left: 50px;
	margin-right: 50px;
	height: 100%;
	width: auto;
	background: aliceblue;
}



.recommend-div {
	background: #f6f6f6;
	padding: 10% 5% 10% 5%;
	width: 90%;
	display: inline-block;
}


/* page */
.title-area {
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding-top: 170px;
	padding-bottom: 80px;
	height: 200px;
	width: 85%;
	background-color: white;
}

.content-area {
	margin-left: 7.5%;
	margin-right: 7.5%;
}

.inner {}

.input-text {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 2%;
	padding-right: 2%;
	height: 40px;
	width: 96%;
	border-style: solid;
	border-width: 0px;
	border-color: #759ef7;
}

.search-filter {
	margin: 6% 8% 6% 8%;
	height: 250px;
	width: 84%;
}

.search-fileter-child {
	margin: 0%;
	padding: 0%;
	border-style: solid;
	border-color: #bdbdbd;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left: 0px;
	float: left;
	height: 100%;
	width: 24.8%;
}

.search-fileter-child-title {
	padding-top: 30px;
	padding-bottom: 20px;
	padding-left: 4%;
	padding-right: 10%;
	height: 20px;
	width: 80%;
}

.search-filter>.search-fileter-child:first-child {
	border-style: solid;
	border-color: #bdbdbd;
	border-left-width: 1px;
}

.search-fileter-child-title>span {
	font-weight: bold;
	font-size: 18px;
}

.search-fileter-child-item-list {
	padding-bottom: 30px;
	padding-left: 5%;
	padding-right: 2.5%;
	width: 92.5%;
	height: 150px;
}

.search-fileter-child-item-list ::-webkit-scrollbar {
	width: 8px;
}

.search-fileter-child-item-list ::-webkit-scrollbar-thumb {
	height: 30%;
	background: #759ef7;
	border-radius: 10px;
}

.search-fileter-child-item-list ::-webkit-scrollbar {
	background: aliceblue;
}

.search-fileter-checkbox {
	overflow-y: scroll;
	float: left;
	height: 150px;
	width: 99%;
}

.search-fileter-checkbox>:first-child {
	margin: 0px;
}

.search-fileter-checkbox-item {
	margin-top: 5px;
}

.search-fileter-checkbox-item>input {
	margin: 0px;
	height: 23px;
	width: 23px;
}

.search-fileter-checkbox-item>label {
	position: relative;
	top: -5px;
	margin-left: 5px;
}

.ee {
	width: 33%;
}

.ee:nth-child(2) {
	width: 66%
}

.eelis {}

.eeli {
	list-style: none;
	padding: 0 0 0 0;
}

.public-list {
	width: 100%;
	height: 20px;
}

.public-ol {
	list-style: none;
}

.public-li {
	float: left
}

.public-title {
	margin-top: 50px;
	text-align: center;
	font-size: 45px;
	font-weight: bold;
}

.public-title-sub {
	padding-top: 25px;
	text-align: center;

}

.recommend-div>div {
	display: inline-block;
}

.recommend-div>div>h1 {
	margin: 0 0 2% 11.6%;
	width: 48vmin;
	font-size: 5vmin;
}

.recommend-div>div>a {
	padding-left: 3vmin;
	font-size: 2.3vmin;
	color: #474747;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

.recommend-div>div>a::after {
	content: " >";
}

.main-gird-ul {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 7.5%;
	height: 87%;
	width: auto;
}

.main-gird-li {
	box-sizing: border-box;
	margin: 1% 1.3% 1% 1.3%;
	padding: 10% 1.5% 10% 1.5%;
	background: #ffffff;
	width: 100%;
	height: 100%;
	display: inline-block;
	box-shadow: 0 10px 35px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	/* 마우스 포인터를 올렸을 때 손가락으로 바뀜 */
	transition: box-shadow 0.1s linear;
}

.main-gird-li:hover {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 4px rgba(0, 0, 0, 0.2);
}

.grid-sub-blue {
	padding-left: 10px;
	padding-right: 10px;
	color: rgb(29, 146, 255);
	font-size: 2vmin;
	font-weight: bold;
}

.grid-red {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: #ffffff;
	background: rgb(255, 86, 86);
	font-size: 2vmin;
	font-weight: bold;
	border-radius: 30px;
	border: 0.2vmin solid rgb(255, 86, 86);
}

.grid-sub-red {
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	color: rgb(255, 86, 86);
	font-size: 2vmin;
	font-weight: bold;
	border-radius: 30px;
	border: 0.2vmin solid rgb(255, 86, 86);
}

.grid-title {
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	padding-top: 7px;
	font-size: 3.5vmin;
	font-weight: bold;
	color: black;
}

.grid-title-side {
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px 0 0 0;
	padding-top: 7px;
	font-size: 3.5vmin;
	font-weight: bold;
	color: black;
}

.grid-title-side {
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px 0 0 0;
	padding-top: 7px;
	font-size: 3.5vmin;
	font-weight: bold;
	color: black;
}

.grid-sub-text {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 25px;
	font-size: 2vmin;
}

.main-grid-a {}

.public-hr {
	margin-left: 7.5%;
	margin-right: 7.5%;
	border: 0px;
	height: 2px;
	background: black;
}

.login-form-div {
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding-top: 80px;
	padding-bottom: 100px;
}

.login-form {}

.login-input {
	width: 34%;
	height: 60px;
	margin-left: 32.5%;
	margin-right: 32.5%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.login-submit {
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 10px;
	width: 35.6%;
	height: 60px;
	font-weight: bold;
	color: white;
	background: #759ef7;
	outline: none;
	border: none;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.login-join {
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	width: 35.3%;
	height: 60px;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.login-join>a {
	height: 100%;
	width: 100%;
	color: #759ef7;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

input::placeholder {
	font-weight: bold;
}

/* join */

.join-div {
	float: left;
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	width: 34%;
}

.join-input {
	width: 34%;
	height: 60px;
	margin-left: 32.5%;
	margin-right: 32.5%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.join-input-birth-first {
	width: 9.5%;
	height: 60px;
	margin-left: 32.5%;
	margin-right: 0.4%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.join-input-birth {
	width: 9.5%;
	height: 60px;
	margin-left: 0.3%;
	margin-right: 0.5%;
	padding-left: 0.5%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.join-input-birth-end {
	width: 9.5%;
	height: 60px;
	margin-left: 0.15%;
	margin-right: 29%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.join-submit {
	margin-left: 32.5%;
	margin-right: 32.5%;
	width: 35.6%;
	height: 60px;
	font-weight: bold;
	color: white;
	background: #759ef7;
	outline: none;
	border: none;
	font-size: 16px;
}

.login-form>hr {
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	width: 35.6%;
}

.join-check-all {
	width: 34%;
	height: auto;
	margin-left: 32.5%;
	margin-right: 32.5%;
	padding-left: 1%;
	margin-bottom: 15px;
	font-size: 16px;
}

.join-check-all>b {
	padding-left: 10px;
	font-size: 20px;
}

.join-check-all>p {
	margin-top: 5px;
	padding-left: 30px;
}

.join-check-area {
	margin-left: 32.5%;
	margin-right: 32.5%;
	margin-bottom: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 35.3%;
	height: auto;
	background: white;
	border-style: solid;
	border-width: 2px;
	border-color: #759ef7;
}

.join-check-list {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.join-check-list b {
	padding-left: 10px;
}

.join-check-list.sub {
	padding-left: 40px;
}

/* company */

.title-area-company-bgimg {
	position: relative;
	padding-left: 7.5%;
	padding-right: 7.5%;
	padding-top: 180px;
	padding-bottom: 40px;
	float: left;
	height: 40.3vmin;
	width: 85%;
	background: url(../source/company/company-main-1.png)no-repeat;
	background-size: cover;
	z-index: 0;
}

.title-area-company {
	position: absolute;
	margin-left: 7.5%;
	margin-right: 7.5%;
	padding-top: 240px;
	padding-bottom: 40px;
	float: left;
	height: 34vmin;
	width: 85%;
	z-index: 1;
}

.company-logo {
	float: left;
	height: 27vmin;
	width: 27vmin;
	padding: 25px;
	margin-right: 60px;
	background: white;
	line-height: 250px;
	/* vertical-align이랑 같이 세로중앙정렬 */
}

.company-logo-img {
	height: auto;
	width: 100%;
	vertical-align: middle;
	/* line-height이랑 같이 세로중앙정렬 */
}

.company-info {
	float: left;
	width: auto;
	height: 300px;
}

.company-sub {
	color: aliceblue;
	margin-top: 35px;
	margin-bottom: 5px;
	font-size: 2.3vmin;
	font-weight: bold;
}

.company-title {
	margin-top: 20px;
	margin-bottom: 0px;
	/* 만약 즐겨찾기 or 사이트 주소 불러오기 실패시 제외 */
	font-size: 62px;
	color: aliceblue;
}


.company-sub-title-Y {
	padding-right: 20px;
	float: left;
	font-weight: none;
	color: yellow;

}

.company-sub-title-W {
	padding-right: 20px;
	float: left;
	font-weight: none;
	color: aliceblue;
}

.custom-checkbox {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.custom-checkbox .checkbox-like+label {
	display: inline-block;
	padding: 0 20px 0 45px;
	color: #555;
	font-size: 16px;
	line-height: 46px;
	background: #fff;
	border: 1px solid #999;
	border-radius: 24px;
	vertical-align: middle;
}

.custom-checkbox input[type="checkbox"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	vertical-align: top;
}

.custom-checkbox .checkbox-like.type2+label {
	color: #fff;
	background: transparent;
	border: 1px solid #fff;
}

.custom-checkbox .checkbox-like+label:before {
	display: block;
	content: '';
	position: absolute;
	left: 20px;
	top: 50%;
	margin-top: -7px;
	width: 15px;
	height: 15px;
	text-align: center;
	background: url(../images/icon/ico_check_like.png) no-repeat;
}

.custom-checkbox .checkbox-like.type2+label:before {
	background: url(../source/like.png) -61px -29px no-repeat;
}



/* FAQ */

.faq-search-bar {
	padding-top: 40px;
	padding-bottom: 40px;
	height: 60px;
	width: 100%;
}

.bg-gray {
	background: rgb(222, 222, 222);
}

.faq-search-bar .faq-search-wrap {
	margin: auto;
	width: 670px;
	height: 60px;
}

.grid-area {
	position: relative;
	height: 100%;
	width: 100%;
}

.colum {
	padding-left: 5px;
	padding-right: 5px;
	float: left;
}

.col25 {
	margin-right: 2%;
	width: 23%;
	height: 100%;
}

.col25>select {
	height: 100%;
	width: 100%;
	border: none;
}

.col25>select>option {
	height: 100px;
	width: 100px;
}

.grid-area>.col70 {
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background: white;
}

.col70>input {
	height: 100%;
	width: 85%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 5%;
	padding-right: 0px;
	border: none;
}

.col70>input:focus {
	outline: none;
}

.col70>span {
	height: 100%;
	width: 10%;
}

.col70>span>input {
	height: 100%;
	width: 100%;
	background: url("../source/search.png");
	background-repeat: no-repeat;
	border: none;
	background-position: center;

}

.select {
	position: relative;
}

.select .option-list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	overflow: hidden;
	max-height: 0;
}

.select.active .option-list {
	max-height: none;
}

#faq-select {
	height: 100%;
	width: 100%;
}

#faq-select>.select {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background: white;
	padding-left: 10%;
	cursor: pointer;
	height: 100%;
	width: 90%;
	display: flex;
	align-items: center;
}

#faq-select>.select:hover {
	color: #333;
	transition: all .3s;
}

#faq-select>.select .option-list {
	list-style: none;
	padding: 0;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#faq-select>.select .option-list .option {
	padding: 10px 15px;
}

#faq-select>.select .option-list .option:hover {
	background-color: #f2f2f2;
}

.faq-content {
	margin-top: 40px;
}

.faq-content>hr {
	margin-top: 0px;
	border: 2px solid gray;
}

.faq-content>button {
	float: right;
	margin-top: 20px;
	width: 7%;
	height: 45px;
	font-weight: bold;
	color: white;
	background: #759ef7;
	outline: none;
	border: none;
	font-size: 16px;
}

.faq {
	list-style: none;
	margin: 0;
	padding: 0;
}

.faq>li {
	padding: 8px;
	box-sizing: border-box;
}

.faq>li:nth-child(n+2) {
	border-top: 1px dotted #aaa6;
}

.faq input {
	display: none;
}

/* 질문영역 */
.faq label {
	display: -webkit-box;
	color: #000;
	font-size: 15px;
	height: 50px;
	margin: 0px 10px 10px 10px;
	cursor: pointer;
}

/* 질문영역 check 이전 */
.faq>li>label::after {
	content: "▽";
	color: #759ef7;
	display: block;
	position: sticky;
	margin-left: auto;
	line-height: 50px;
}

.faq label::before {
	content: url("../source/Q-none.png");
}


/* 질문영역 check 이후 */
.faq input:checked+label::after {
	content: "△";
	color: #759ef7;
	display: block;
	position: sticky;
	margin-left: auto;
}

.faq input:checked+label::before {
	content: url("../source/Q.png");
	color: #759ef7;
}

.faq>li>label>p {
	margin-left: 1%;
}

/* 답변영역 */
.faq div {
	display: none;
	color: #000;
	background-color: rgb(241, 243, 246);
	font-size: 13px;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
}

.faq input:checked+label+div {
	display: block;
}

.spacing {
	text-indent: 1.2em;
}

.spacing:nth-child(2) {
	margin: 30px 0px 0px 0px;
	padding: 0px 0px 15px 0px;
}

.spacing:nth-child(2)::before {
	content: "ㄴ  ";
}

/* qna */

#qna-select {
	height: 100%;
	width: 100%;
}

#qna-select>.select {
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	background: white;
	padding-left: 10%;
	cursor: pointer;
	height: 100%;
	width: 90%;
	display: flex;
	align-items: center;
}

#qna-select>.select:hover {
	color: #333;
	transition: all .3s;
}

#qna-select>.select .option-list {
	list-style: none;
	padding: 0;
	border-radius: 5px;
	background: white;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

#qna-select>.select .option-list .option {
	padding: 10px 15px;
}

#qna-select>.select .option-list .option:hover {
	background-color: #f2f2f2;
}

.qna>li {
	padding: 8px;
	box-sizing: border-box;
}

.qna>li>div {
	display: none;
	color: #000;
	background-color: rgb(241, 243, 246);
	font-size: 13px;
	overflow: hidden;
	padding: 10px;
	box-sizing: border-box;
}

.qna input:checked+label+div {
	display: block;
}

/* question */
.question-content>hr {
	margin-top: 0px;
	border: 2px solid gray;
}

.question-content>input {
	height: 300px;
	width: 300px;
}

.question-content>button {
	float: right;
	margin-top: 20px;
	width: 7%;
	height: 45px;
	font-weight: bold;
	color: white;
	background: #759ef7;
	outline: none;
	border: none;
	font-size: 16px;
}

/* -----------company.html 적용 -> 태수 작업 전 임시방편 by 서연 */
.compony-frame {
	position: relative;
	max-width: 1380px;
	margin: 5vmin auto;
}

.article-title-area {
	position: relative;
	margin: 3vmin 0;
}

.article-title-area>.title {
	display: inline-block;
	font-size: 4.5vmin;
	font-weight: 500;
	font-weight: bold;
	margin: 0 0;
}

.article-wrap {
	padding: 100px 0;
}

.info-guide {
	position: absolute;
	bottom: 0px;
	right: 0px;
	color: gray;
}

.info-guide a {
	color: gray;
}

.article-content {
	background: #ffffff;
	overflow: hidden;
}

.info-item {
	width: 50%;
	padding: 4.5vmin;
	box-sizing: border-box;
	float: left;
	display: table;
}

.basic-info-wrap {
	overflow: hidden;
}

.basic-info-wrap .info-item dl dt {
	display: table-cell;
	width: 9vmin;
	padding-top: 20px;
	padding-right: 30px;
	font-weight: 700;
}

.basic-info-wrap .info-item dl:first-child dt {
	padding-top: 0px;
}

.basic-info-wrap .info-item dl dd {
	display: table-cell;
	color: #555;
}

#wlfr {
	background: #ffffff;
}

.welfare-box {
	list-style: none;
	overflow: hidden;
	padding: 0 0;
	margin: 0 0;
}

.welfare-wrap .welfare-box li {
	list-style: none;
	float: left;
	box-sizing: border-box;
	width: 49%;
	height: 30vmin;
	padding: 60px;
	margin-bottom: 3vmin;
	border: 1px solid #d6d6d6;
}

.welfare-wrap .welfare-box li:nth-child(2n+1) {
	margin-right: 2%;
}

li>.title {
	font-weight: bold;
	font-size: 3vmin;
}

.sub-title {
	display: inline-block;
	font-size: 4.5vmin;
	font-weight: bold;
	margin: 0 0;
}

.box-white>.icon {
	display: inline-block;
	width: 54px;
	height: 54px;
}

.i1 {
	background: url(../source/company/dontong.png);
}

.i2 {
	background: url(../source/company/hyumu.png);
}

.i3 {
	background: url(../source/company/bosang.png);
}

.i4 {
	background: url(../source/company/pyony.png);
}

.i5 {
	background: url(../source/company/siser.png);
}

.i6 {
	background: url(../source/company/gyo6.png);
}

.i7 {
	background: url(../source/company/etc.png);
}

.i8 {
	background: url(../source/company/present.png);
}

.company-hl {
	display: flex;
	background-color: #759ef7;
	color: #ffffff;
	align-items: center;
	justify-content: space-around;
	padding: 0 20px 0 20px;
	margin-left: 10px;
	height: 6vmin;
	width: 13vmin;
	border-radius: 30px;
	font-size: 1.9vmin;
}

.incruit-logo-area {
	text-align: center;
}

.text-grey {
	color: gray;
	margin-right: 10px;
}

.company-swiper-div-margin{
	margin-top: 5vmin;
}

/* --------------------------------------------company.html */

.qna-section {
	height: auto;
	width: 100%;
	margin: 0px 0px 30px 0px;
}

.qna {
	list-style: none;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
}

.qna>li:nth-child(n+2) {
	margin-top: 25px;
}

.qna>li>label>div {
	float: left;
}

.qna input {
	display: none;
}

.qna-div-1 {
	width: 7%;
}

.qna-div-2 {
	width: 68%;
}

.qna-div-3 {
	width: 10%;
}

.qna-div-4 {
	width: 15%;
}

.qna>li>div {
	margin: 40px 0px 0px 5%;
}


/* condition */
.condition {
	margin: 0px 8% 0px 8%;
	width: 84%;
	height: auto;
}

.condition>ul {
	padding: 0 0 0 0;
	margin: none;
	width: auto;
}

.condition>ul>li {
	margin-bottom: 20px;
	padding: 5% 5% 5% 5%;
	height: auto;
	width: auto;
	list-style: none;
	background: aliceblue;
	border: 0.1vmin solid rgb(214, 214, 214);
}


.incruit-wrap>.condition>ul>li {
	padding: 2% 5% 2% 5%;
}

.condition>ul>li>div>div>a:nth-child(-n+2) {
	float: right;

}

.condition>ul>li>div>div {
	width: auto;
}

.condition>ul>li>div>div>a:nth-child(-n+2)>div {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 20px 0 20px;
	margin-left: 10px;
	height: 6vmin;
	width: 18vmin;
	background: white;
	border-radius: 30px;
	font-size: 2vmin;
}

.condition-sub-text {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	color: gray;
}

.condition>ul>li>div>ol {
	list-style: none;
	padding: 0 0 0 10px;
}

.condition>ul>li>div>ol>li {
	float: left;
	list-style: none;
	width: auto;
	margin: 0 10px 0 0;
}