<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>상세조건 검색</title>
</head>

<script>




</script>

<body>
    {% include 'Board/header.html' %}
    <div class="main-div">
        <section class="main-section">
            <div class="title-area">
                <div class="inner">
                    <div class="public-list">
                        <ol class="public-ol">
                            <li class="public-li">index ></li>
                            <li class="public-li">> 조건으로 찾기 ></li>
                            <li class="public-li">> 상세조건 검색</li>
                        </ol>
                    </div>
                    <div class="public-title">
                        상세조건 검색
                    </div>
                    <div class="public-title-sub">
                        원하는 조건에 따라 좋은 기업을 찾아보세요.
                    </div>
                </div>
            </div>

            

            <form class="search-area"  action="employtest">
                <div class="search-bar-div">
                    <div class="search-frame">
                        <input type="text" id="schTxt" name="schTxt" class="input-text">
                    </div>
                </div>
                <div class="search-filter">
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>지역</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <!-- <div class="search-fileter-checkbox-item">
                                    <input type="checkbox"id="전체" class="class="checkbox"value="전체" class="">
                                    <label for="전체">전체</label>
                                </div> -->
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox"id="전체" value="전체" class="checkbox_area">
                                    <label for="전체">전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="서울" value="서울" class="checkbox_area">
                                    <label for="서울">서울</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="부산" value="부산" class="checkbox_area">
                                    <label for="부산">부산</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="대구" value="대구" class="checkbox_area">
                                    <label for="대구">대구</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="인천" value="인천" class="checkbox_area">
                                    <label for="인천">인천</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="광주" value="광주" class="checkbox_area">
                                    <label for="광주">광주</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="대전" value="대전" class="checkbox_area">
                                    <label for="대전">대전</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="울산" value="울산" class="checkbox_area">
                                    <label for="울산">울산</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="세종" value="세종" class="checkbox_area">
                                    <label for="세종">세종</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="경기" value="경기" class="checkbox_area">
                                    <label for="경기">경기</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="강원" value="강원" class="checkbox_area">
                                    <label for="강원">강원</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="충북" value="충북" class="checkbox_area">
                                    <label for="충북">충북</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="충남" value="충남" class="checkbox_area">
                                    <label for="충남">충남</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="전북" value="전북" class="checkbox_area">
                                    <label for="전북">전북</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="전남" value="전남" class="checkbox_area">
                                    <label for="전남">전남</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="경북" value="경북" class="checkbox_area">
                                    <label for="경북">경북</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="경남" value="경남" class="checkbox_area">
                                    <label for="경남">경남</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="제주" value="제주" class="checkbox_area">
                                    <label for="제주">제주</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>업종</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="전체">
                                    <label>전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="제조업">
                                    <label>제조업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="도매 및 소매업">
                                    <label>도매 및 소매업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="정보통신업">
                                    <label>정보통신업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="전문, 과학 및 기술 서비스업">
                                    <label>전문, 과학 및 기술 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="건설업">
                                    <label>건설업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="사업시설 관리, 사업 지원 및 임대 서비스업">
                                    <label>사업시설 관리, 사업 지원 및 임대 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="운수 및 창고업">
                                    <label>운수 및 창고업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="수도, 하수 및 폐기물 처리, 원료 재생업">
                                    <label>수도, 하수 및 폐기물 처리, 원료 재생업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="협회 및 단체, 수리 및 기타 개인 서비스업">
                                    <label>협회 및 단체, 수리 및 기타 개인 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="교육 서비스업">
                                    <label>교육 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="숙박 및 음식점업">
                                    <label>숙박 및 음식점업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="예술, 스포츠 및 여가관련 서비스업">
                                    <label>예술, 스포츠 및 여가관련 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="보건업 및 사회복지 서비스업">
                                    <label>보건업 및 사회복지 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="농업, 임업 및 어업">
                                    <label>농업, 임업 및 어업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="금융 및 보험업">
                                    <label>금융 및 보험업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="전기, 가스, 증기 및 공기 조절 공급업">
                                    <label>전기, 가스, 증기 및 공기 조절 공급업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="광업">
                                    <label>광업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="공공행정, 국방 및 사회보장 행정">
                                    <label>공공행정, 국방 및 사회보장 행정</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="국제 및 외국기관">
                                    <label>국제 및 외국기관</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동">
                                    <label>가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>기업형태</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="전체">
                                    <label>전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item" >
                                    <input type="checkbox" id="" value="한시성중소기업">
                                    <label>한시성중소기업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="중기업">
                                    <label>중기업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="소기업">
                                    <label>소기업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="소상공인">
                                    <label>소상공인</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox"id="" value="스타트업">
                                    <label>스타트업</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>복지</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="전체">
                                    <label>전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="공제·기타">
                                    <label>공제·기타</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="연금·보험">
                                    <label>연금·보험</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="교육·연수">
                                    <label>교육·연수</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="생활편의·여가행사">
                                    <label>생활편의·여가행사</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="보상·수당·지원">
                                    <label>보상·수당·지원</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="사내시설·장애인지원">
                                    <label>사내시설·장애인지원</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" value="휴무·휴가·행사">
                                    <label>휴무·휴가·행사</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="print-values">
                    <p id="valueList"></p>
                </div>

                <div>
                    <input type="button" value="검색하기" class="print-values" id="valueList" onclick="checkbox_test();">
                </div>
            </form>
            
        </section>
    </div>

    <table id="test">
    </table>
    <script src="../../static/js/app.js"></script>
    {% include '/Board/footer.html' %}

</body>

</html>