<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>상세조건 검색</title>
</head>

<script>




</script>

<body>
    {% include 'Board/header.html' %}
    <div class="main-div">
        <section class="main-section">
            <div class="title-area">
                <div class="inner">
                    <div class="public-list">
                        <ol class="public-ol">
                            <li class="public-li">index ></li>
                            <li class="public-li">> 조건으로 찾기 ></li>
                            <li class="public-li">> 상세조건 검색</li>
                        </ol>
                    </div>
                    <div class="public-title">
                        상세조건 검색
                    </div>
                    <div class="public-title-sub">
                        원하는 조건에 따라 좋은 기업을 찾아보세요.
                    </div>
                </div>
            </div>

            

            <form class="search-area"  action="employtest">
                <div class="search-bar-div">
                    <div class="search-frame">
                        <input type="text" id="schTxt" name="schTxt" class="input-text">
                    </div>
                </div>
                <div class="search-filter">
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>지역</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <!-- <div class="search-fileter-checkbox-item">
                                    <input type="checkbox"id="전체" class="class="checkbox"value="전체" class="">
                                    <label for="전체">전체</label>
                                </div> -->
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox"id="전체" value="전체" class="checkbox">
                                    <label for="전체">전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="서울" value="서울" class="checkbox">
                                    <label for="서울">서울</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="부산" value="부산" class="checkbox">
                                    <label for="부산">부산</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="대구" value="대구" class="checkbox">
                                    <label for="대구">대구</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="인천" value="인천" class="checkbox">
                                    <label for="인천">인천</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="광주" value="광주" class="checkbox">
                                    <label for="광주">광주</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="대전" value="대전" class="checkbox">
                                    <label for="대전">대전</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="울산" value="울산" class="checkbox">
                                    <label for="울산">울산</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="세종" value="세종" class="checkbox">
                                    <label for="세종">세종</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="경기" value="경기" class="checkbox">
                                    <label for="경기">경기</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="강원" value="강원" class="checkbox">
                                    <label for="강원">강원</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="충북" value="충북" class="checkbox">
                                    <label for="충북">충북</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="충남" value="충남" class="checkbox">
                                    <label for="충남">충남</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="전북" value="전북" class="checkbox">
                                    <label for="전북">전북</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="전남" value="전남" class="checkbox">
                                    <label for="전남">전남</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="경북" value="경북" class="checkbox">
                                    <label for="경북">경북</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="경남" value="경남" class="checkbox">
                                    <label for="경남">경남</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="제주" value="제주" class="checkbox">
                                    <label for="제주">제주</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>업종</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-200" class="checkbox check-all checked" name="sectortag" value="" data-name="전체" checked="checked">
                                    <label for="check-200">전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-C" name="sectortag" class="checkbox"value="C" data-name="제조업">
                                    <label for="check-C">제조업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-G"  name="sectortag" class="checkbox"value="G" data-name="도매 및 소매업">
                                    <label for="check-G">도매 및 소매업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-J" name="sectortag" class="checkbox"value="J" data-name="정보통신업">
                                    <label for="check-J">정보통신업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-M" name="sectortag" class="checkbox"value="M" data-name="전문, 과학 및 기술 서비스업">
                                    <label for="check-M">전문, 과학 및 기술 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-F" name="sectortag" class="checkbox" value="F" data-name="건설업">
                                    <label for="check-F">건설업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-N"  name="sectortag" class="checkbox"value="N" data-name="사업시설 관리, 사업 지원 및 임대 서비스업">
                                    <label for="check-N">사업시설 관리, 사업 지원 및 임대 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-H" name="sectortag" class="checkbox" value="H" data-name="운수 및 창고업">
                                    <label for="check-H">운수 및 창고업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-E"  name="sectortag" class="checkbox" value="E" data-name="수도, 하수 및 폐기물 처리, 원료 재생업">
                                    <label for="check-E">수도, 하수 및 폐기물 처리, 원료 재생업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-S" name="sectortag" class="checkbox" value="S" data-name="협회 및 단체, 수리 및 기타 개인 서비스업">
                                    <label for="check-S">협회 및 단체, 수리 및 기타 개인 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-P" name="sectortag" class="checkbox" value="P" data-name="교육 서비스업">
                                    <label for="check-P">교육 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-I"name="sectortag" class="checkbox" value="I" data-name="숙박 및 음식점업">
                                    <label for="check-I">숙박 및 음식점업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-R" name="sectortag" class="checkbox" value="R" data-name="예술, 스포츠 및 여가관련 서비스업">
                                    <label for="check-R">예술, 스포츠 및 여가관련 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-Q" name="sectortag" class="checkbox" value="Q" data-name="보건업 및 사회복지 서비스업">
                                    <label for="check-Q">보건업 및 사회복지 서비스업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-A" name="sectortag" class="checkbox"value="A" data-name="농업, 임업 및 어업">
                                    <label for="check-A">농업, 임업 및 어업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-K" name="sectortag" class="checkbox"value="K" data-name="금융 및 보험업">
                                    <label for="check-K">금융 및 보험업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-D" name="sectortag" class="checkbox"value="D" data-name="전기, 가스, 증기 및 공기 조절 공급업">
                                    <label for="check-D">전기, 가스, 증기 및 공기 조절 공급업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-B"name="sectortag" class="checkbox"value="B" data-name="광업">
                                    <label for="check-B">광업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-O" name="sectortag" class="checkbox"value="O" data-name="공공행정, 국방 및 사회보장 행정">
                                    <label for="check-O">공공행정, 국방 및 사회보장 행정</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-U" name="sectortag" class="checkbox"value="U" data-name="국제 및 외국기관">
                                    <label for="check-U">국제 및 외국기관</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="check-T" name="sectortag" class="checkbox"value="T" data-name="가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동">
                                    <label for="check-T">가구 내 고용활동 및 달리 분류되지 않은 자가소비 생산활동</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>기업형태</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="전체">
                                    <label>전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox" value="한시성중소기업">
                                    <label>한시성중소기업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox" value="중기업">
                                    <label>중기업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox" value="소기업">
                                    <label>소기업</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="소상공인">
                                    <label>소상공인</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox"id="" class="checkbox"value="스타트업">
                                    <label>스타트업</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-fileter-child">
                        <div class="search-fileter-child-title"><span>복지</span></div>
                        <div class="search-fileter-child-item-list">
                            <div class="search-fileter-checkbox">
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="전체">
                                    <label>전체</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="공제·기타">
                                    <label>공제·기타</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="연금·보험">
                                    <label>연금·보험</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="교육·연수">
                                    <label>교육·연수</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="생활편의·여가행사">
                                    <label>생활편의·여가행사</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="보상·수당·지원">
                                    <label>보상·수당·지원</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="사내시설·장애인지원">
                                    <label>사내시설·장애인지원</label>
                                </div>
                                <div class="search-fileter-checkbox-item">
                                    <input type="checkbox" id="" class="checkbox"value="휴무·휴가·행사">
                                    <label>휴무·휴가·행사</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="print-values">
                    <p id="valueList"></p>
                </div>

                <div>
                    <input type="button" value="검색하기" class="print-values" id="valueList" onclick="checkbox_test();">
                </div>
            </form>
            
        </section>
    </div>

    <table id="test">
    </table>
    <script src="../../static/js/app.js"></script>
</body>

</html>